# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio temporary files
*.suo
*.wwdb
*.user
*.sdf
*.opensdf

# JPEG library configuration header file
3rdparty/jpeg/jconfig.h

# Output directories
Build.vc8
Build.vc10

# Third-party library directories
3rdparty/tinyxml
3rdparty/UnitTest++
